body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('../img/background_site.jpg'); 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center;
	background-attachment: fixed;
}

header {
	font-size: 20px;
    color: white;
	padding: 10px;
	text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    border: 1px solid white;
    border-radius: 8px;
	padding: 10px;
    margin: 10px 10px;
	text-align: right;
}

nav a {
	color: white;
	margin-right: 15px;
	text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

main {
    color: white;
	padding: 20px;
	text-align: center;
}
